section.home-about-article
	.container
		.article-title
			h2 Về chúng tôi
		.row
			.col-12.col-sm-4
				.figure
					.figure-image
						img(src="./img/home/3.jpg", alt="Với tinh thần sáng tạo và luôn đổi mới phát triển, Công ty máy bơm Việt Đức ra đời nhằm mang lại những giải pháp về máy bơm thích hợp với mọi công trình từ nhà cao tầng cho đến các nhà máy xí nghiệp.")
					.figure-caption
						h5 Giới thiệu
						p Với tinh thần sáng tạo và luôn đổi mới phát triển, Công ty máy bơm Việt Đức ra đời nhằm mang lại những giải pháp về máy bơm thích hợp với mọi công trình từ nhà cao tầng cho đến các nhà máy xí nghiệp. 
						.figure-button
							a(href="#") Xem thêm
								em.fas.fa-long-arrow-alt-right

						
			.col-12.col-sm-4
				.figure
					.figure-image
						img(src="./img/home/3.jpg", alt="Với tinh thần sáng tạo và luôn đổi mới phát triển, Công ty máy bơm Việt Đức ra đời nhằm mang lại những giải pháp về máy bơm thích hợp với mọi công trình từ nhà cao tầng cho đến các nhà máy xí nghiệp.")
					.figure-caption
						h5 Giới thiệu
						p Với tinh thần sáng tạo và luôn đổi mới phát triển, Công ty máy bơm Việt Đức ra đời nhằm mang lại những giải pháp về máy bơm thích hợp với mọi công trình từ nhà cao tầng cho đến các nhà máy xí nghiệp. 
						.figure-button
							a(href="#") Xem thêm
								em.fas.fa-long-arrow-alt-right
			.col-12.col-sm-4
				.figure
					.figure-image
						img(src="./img/home/3.jpg", alt="Với tinh thần sáng tạo và luôn đổi mới phát triển, Công ty máy bơm Việt Đức ra đời nhằm mang lại những giải pháp về máy bơm thích hợp với mọi công trình từ nhà cao tầng cho đến các nhà máy xí nghiệp.")
					.figure-caption
						h5 Giới thiệu
						p Với tinh thần sáng tạo và luôn đổi mới phát triển, Công ty máy bơm Việt Đức ra đời nhằm mang lại những giải pháp về máy bơm thích hợp với mọi công trình từ nhà cao tầng cho đến các nhà máy xí nghiệp. 
						.figure-button
							a(href="#") Xem thêm
								em.fas.fa-long-arrow-alt-right