section.news-sidebar
	.grey-title
		p Bài viết khác
	.news-sidebar-wrapper
		.figure
			.figure-image
				a(href="#")
					img(src="./img/tintuc/2.jpg", alt="")
			.figure-caption
				a(href="#")
					time
						em.mdi.mdi-clock-outline
						p 29/03/2019 
					p.title 
						a(href="#") Siêu máy bơm chống ngập đường Nguyễn Hữu Cảnh hoạt động trở lại
		.figure
			.figure-image
				a(href="#")
					img(src="./img/tintuc/4.jpg", alt="")
			.figure-caption
				a(href="#")
					time
						em.mdi.mdi-clock-outline
						p 29/03/2019 
					p.title
						a(href="#") Siêu máy bơm chống ngập đường Nguyễn Hữu Cảnh hoạt động trở lại
		.figure
			.figure-image
				a(href="#")
					img(src="./img/tintuc/2.jpg", alt="")
			.figure-caption
				a(href="#")
					time
						em.mdi.mdi-clock-outline
						p 29/03/2019 
					p.title
						a(href="#") Siêu máy bơm chống ngập đường Nguyễn Hữu Cảnh hoạt động trở lại
		.figure
			.figure-image
				a(href="#")
					img(src="./img/tintuc/4.jpg", alt="")
			.figure-caption
				a(href="#")
					time
						em.mdi.mdi-clock-outline
						p 29/03/2019 
					p.title
						a(href="#") Siêu máy bơm chống ngập đường Nguyễn Hữu Cảnh hoạt động trở lại
		.figure
			.figure-image
				a(href="#")
					img(src="./img/tintuc/4.jpg", alt="")
			.figure-caption
				a(href="#")
					time
						em.mdi.mdi-clock-outline
						p 29/03/2019 
					p.title
						a(href="#") Siêu máy bơm chống ngập đường Nguyễn Hữu Cảnh hoạt động trở lại