section.home-san-pham
	.container
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.figure
						.figure-image.shine
							img(src="./img/home/2.png", alt="Sản phẩm đặc trưng")
						.figure-caption
							p Sản phẩm mới 
							.figure-button
								a(href="#") Xem thêm
									em.mdi.mdi-arrow-right
				.swiper-slide
					.figure
						.figure-image.shine
							img(src="./img/home/2.png", alt="Sản phẩm đặc trưng")
						.figure-caption
							p Sản phẩm bán chạy
							.figure-button
								a(href="#") Xem thêm
									em.mdi.mdi-arrow-right
				.swiper-slide
					.figure
						.figure-image.shine
							img(src="./img/home/2.png", alt="Sản phẩm đặc trưng")
						.figure-caption
							p Sản phẩm đặc trưng
							.figure-button
								a(href="#") Xem thêm
									em.mdi.mdi-arrow-right
