footer.footer-viet-duc
	section.footer-top
		.container
			.row
				.col-6.col-lg-3
					h5 Sản phẩm
					ul
						li
							a(href="#") Máy bơm công nghiệp Wilo
						li
							a(href="#") Máy bơm chìm Wilo
						li
							a(href="#") Máy bơm tăng áp Wilo
				.col-6.col-lg-2
					h5 hỗ trợ
					ul
						li
							a(href="#") Hỏi đáp
						li
							a(href="#") Download tài liệu
						li
							a(href="#") Catalogue
				.col-12.col-sm-6.col-lg-4
					h5 bơm việt đức
					ul
						li
							em.mdi.mdi-map-marker
							p 31-33 Thạch Thị Thanh, Phường Tân Định, Quận 1, TP Hồ Chí Minh
						li
							a(href="#")
								em.mdi.mdi-phone
								p 0908 405 203
						li
							a(href="#")
								em.mdi.mdi-email
								p info@bomvietduc.com.vn
				.col-12.col-sm-6.col-lg-3
					.logo-footer
						img(src="./img/logo-2.png", alt="")
			.footer-social
				.social-icon
					a(href="#")
						em.mdi.mdi-facebook
				.social-icon
					a(href="#")
						em.fab.fa-twitter
				.social-icon
					a(href="#")
						em.fab.fa-youtube
				.social-icon
					a(href="#")
						em.mdi.mdi-facebook-messenger
				.social-icon
					a(href="#")
						em.mdi.mdi-skype
				.social-icon
					a(href="#")
						img(src="./img/zalo.svg", alt="Zalo")
	section.footer-bottom
		.container
			p 2019 © Bơm Việt Đức. Tất cả quyền đều được bảo hộ. Thiết kế bởi Cánh Cam.
						