header.laptop-header
	section.top-header
		.container
			.top-header-wrapper
				.nav-left-top
					.contact.hot-line
						a(href="#")
							em.mdi.mdi-phone-in-talk
							p 0908 405 203
					.contact.mail
						a(href="#")
							em.mdi.mdi-email
							p info@bomvietduc.com.vn
				.nav-right-top
					.form-search
						.searchbox
							input(type="text",placeholder='Tìm kiếm...')
							button
								em.fas.fa-search.btn-search
					.language-wrapper
						em.mdi.mdi-earth
						.current-language
							p VN
							em.mdi.mdi-menu-down
						.language-list
							.item
								a(href="#") EN
							.item
								a(href="#") VN
	section.bottom-header
		.container
			.bottom-header-wrapper
				.navbrand
					a(href="#")
						img(src="./img/logo.png", alt="Viet Duc logo")
				.toggle-mobile
					em.mdi.mdi-menu
				.nav-right
					ul
						li.active
							a(href="#") Trang chủ
						li
							a(href="#") Giới thiệu
						li.has-sub
							a(href="javascript:;") Sản phẩm
								em.mdi.mdi-menu-down
							ul.nav-sub
								li
									a(href="#") Máy bơm công nhiệp Wilo
								li
									a(href="#") Máy bơm chìm Wilo
								li
									a(href="#") Máy bơm tăng áp Wilo
						li.has-sub
							a(href="javascript:;") Dự án
								em.mdi.mdi-menu-down
							ul.nav-sub
								li
									a(href="#") Dự án đã triển khai
								li
									a(href="#")  Dự án đang triển khai
						li.has-sub
							a(href="javascript:;") Tin tức 
								em.mdi.mdi-menu-down
							ul.nav-sub
								li
									a(href="#") Tin hoạt động
								li
									a(href="#") Tin tổng hợp
								li
									a(href="#") Thư viện
						li.has-sub
							a(href="javascript:;") Hỗ trợ khách hàng
								em.mdi.mdi-menu-down
							ul.nav-sub
								li
									a(href="#") Hỏi đáp 
								li
									a(href="#") Download tài liệu
						li
							a(href="#") Liên hệ
								
