section.doi-tac-swiper
	.container
		.article-title
			h2 Đối tác
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.banner
						img(src="./img/gioithieu/4.png", alt="")
				.swiper-slide
					.banner
						img(src="./img/gioithieu/4.png", alt="")
				.swiper-slide
					.banner
						img(src="./img/gioithieu/4.png", alt="")
				.swiper-slide
					.banner
						img(src="./img/gioithieu/4.png", alt="")
				.swiper-slide
					.banner
						img(src="./img/gioithieu/4.png", alt="")
				.swiper-slide
					.banner
						img(src="./img/gioithieu/4.png", alt="")