section.danh-sach-san-pham
	.product-title
		h2 Danh sách sản phẩm
	.row
		.col-6.col-sm-4.col-lg-3
			.figure
				.figure-image.shine
					a(href="#")
						img(src="./img/sanpham/1.png", alt="")
				.figure-caption
					a(href="#")
						p Máy Willo-Statos
						p.upper PICC 1255
		.col-6.col-sm-4.col-lg-3
			.figure
				.figure-image.shine
					a(href="#")
						img(src="./img/sanpham/1.png", alt="")
				.figure-caption
					a(href="#")
						p Máy Willo-Statos
						p.upper PICC 1255
		.col-6.col-sm-4.col-lg-3
			.figure
				.figure-image.shine
					a(href="#")
						img(src="./img/sanpham/1.png", alt="")
				.figure-caption
					a(href="#")
						p Máy Willo-Statos
						p.upper PICC 1255
		.col-6.col-sm-4.col-lg-3
			.figure
				.figure-image.shine
					a(href="#")
						img(src="./img/sanpham/1.png", alt="")
				.figure-caption
					a(href="#")
						p Máy Willo-Statos
						p.upper PICC 1255
		.col-6.col-sm-4.col-lg-3
			.figure
				.figure-image.shine
					a(href="#")
						img(src="./img/sanpham/1.png", alt="")
				.figure-caption
					a(href="#")
						p Máy Willo-Statos
						p.upper PICC 1255
		.col-6.col-sm-4.col-lg-3
			.figure
				.figure-image.shine
					a(href="#")
						img(src="./img/sanpham/1.png", alt="")
				.figure-caption
					a(href="#")
						p Máy Willo-Statos
						p.upper PICC 1255
		.col-6.col-sm-4.col-lg-3
			.figure
				.figure-image.shine
					a(href="#")
						img(src="./img/sanpham/1.png", alt="")
				.figure-caption
					a(href="#")
						p Máy Willo-Statos
						p.upper PICC 1255
		.col-6.col-sm-4.col-lg-3
			.figure
				.figure-image.shine
					a(href="#")
						img(src="./img/sanpham/1.png", alt="")
				.figure-caption
					a(href="#")
						p Máy Willo-Statos
						p.upper PICC 1255

