section.news-line
	.container
		.article-title
			h2 tin tức
		.row
			.col-md-6
				.figure
					.figure-image.shine
						a(href="#")
							img(src="./img/home/5.jpg", alt="Nhà hàng cao tầng nên sử dụng máy bơm cho phù hợp")
					.figure-caption-large
						a(href="#")
							p.name
								a(href="") Nhà hàng cao tầng nên sử dụng máy bơm cho phù hợp
			.col-md-6
				.half-new
					.figure
						.figure-image.shine
							a(href="#")
								img(src="./img/home/5.jpg", alt="Muốn mua máy bơm dân dụng hiệu Wilo thì phải làm sao?")
						.figure-caption
							a(href="#")
								p.name-small
									a(href="") Muốn mua máy bơm dân dụng hiệu Wilo thì phải làm sao?
								time
									em.mdi.mdi-clock-outline
									p 29/03/2019
								p.caption Máy bơm nước dân dụng thương hiệu Wilo nhập khẩu Hàn Quốc được đánh giá cao về chất lượng, độ bền so với các dòng máy bơm 
					.figure
						.figure-image.shine
							a(href="#")
								img(src="./img/home/5.jpg", alt="Muốn mua máy bơm dân dụng hiệu Wilo thì phải làm sao?")
						.figure-caption
							a(href="#")
								p.name-small 
									a(href="") Xưởng lắp ráp máy bơm Wilo duy nhất tại Việt Nam
								time
									em.mdi.mdi-clock-outline
									p 29/03/2019 
								p.caption Máy bơm nước dân dụng thương hiệu Wilo nhập khẩu Hàn Quốc được đánh giá cao về chất lượng, độ bền so với các dòng máy bơm 

