section.other-project
	.container
		.grey-title
			p Dự án khác
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.figure
						.figure-image
							img(src="./img/duan/1.jpg", alt="")
						.figure-caption
							p TTTM GIGAMALL
				.swiper-slide
					.figure
						.figure-image
							img(src="./img/duan/1.jpg", alt="")
						.figure-caption
							p TTTM SALA
				.swiper-slide
					.figure
						.figure-image
							img(src="./img/duan/1.jpg", alt="")
						.figure-caption
							p CGV CINEMA Q2