section.library-images-display
	.container
		.article-title
			p Thư viện
		.row.no-gutters
			.col-12.col-lg-6
				.row.no-gutters
					.col-12
						.lightgallery
							a(href='./img/thuvien/1.jpg')
								.library-image.library-image-fit
									img(src='./img/thuvien/1.jpg')
							a(href='./img/thuvien/2.jpg')
								.library-image
									img(src='./img/thuvien/2.jpg')
							a(href='./img/thuvien/3.jpg')
								.library-image
									img(src='./img/thuvien/3.jpg')
							a(href='./img/thuvien/1.jpg')
								.library-image
									img(src='./img/thuvien/1.jpg')
							a(href='./img/thuvien/2.jpg')
								.library-image
									img(src='./img/thuvien/2.jpg')
				.row.no-gutters
					.col-6
						.lightgallery
							a(href='./img/thuvien/1.jpg')
								.library-image
									img(src='./img/thuvien/1.jpg')
							a(href='./img/thuvien/2.jpg')
								.library-image
									img(src='./img/thuvien/2.jpg')
							a(href='./img/thuvien/3.jpg')
								.library-image
									img(src='./img/thuvien/3.jpg')
							a(href='./img/thuvien/1.jpg')
								.library-image
									img(src='./img/thuvien/1.jpg')
							a(href='./img/thuvien/2.jpg')
								.library-image
									img(src='./img/thuvien/2.jpg')
					.col-6
						.lightgallery
							a(href='./img/thuvien/1.jpg')
								.library-image
									img(src='./img/thuvien/1.jpg')
							a(href='./img/thuvien/2.jpg')
								.library-image
									img(src='./img/thuvien/2.jpg')
							a(href='./img/thuvien/3.jpg')
								.library-image
									img(src='./img/thuvien/3.jpg')
							a(href='./img/thuvien/1.jpg')
								.library-image
									img(src='./img/thuvien/1.jpg')
							a(href='./img/thuvien/2.jpg')
								.library-image
									img(src='./img/thuvien/2.jpg')
			.col-12.col-lg-6
				.row.no-gutters
					.col-6
						.lightgallery
							a(href='./img/thuvien/1.jpg')
								.library-image
									img(src='./img/thuvien/1.jpg')
							a(href='./img/thuvien/2.jpg')
								.library-image
									img(src='./img/thuvien/2.jpg')
							a(href='./img/thuvien/3.jpg')
								.library-image
									img(src='./img/thuvien/3.jpg')
							a(href='./img/thuvien/1.jpg')
								.library-image
									img(src='./img/thuvien/1.jpg')
							a(href='./img/thuvien/2.jpg')
								.library-image
									img(src='./img/thuvien/2.jpg')
					.col-6
						.lightgallery
							a(href='./img/thuvien/1.jpg')
								.library-image
									img(src='./img/thuvien/1.jpg')
							a(href='./img/thuvien/2.jpg')
								.library-image
									img(src='./img/thuvien/2.jpg')
							a(href='./img/thuvien/3.jpg')
								.library-image
									img(src='./img/thuvien/3.jpg')
							a(href='./img/thuvien/1.jpg')
								.library-image
									img(src='./img/thuvien/1.jpg')
							a(href='./img/thuvien/2.jpg')
								.library-image
									img(src='./img/thuvien/2.jpg')
				.row.no-gutters
					.col-12
						.lightgallery
							a(href='./img/thuvien/2.jpg')
								.library-image.library-image-fit
									img(src='./img/thuvien/2.jpg')
							a(href='./img/thuvien/2.jpg')
								.library-image
									img(src='./img/thuvien/2.jpg')
							a(href='./img/thuvien/3.jpg')
								.library-image
									img(src='./img/thuvien/3.jpg')
							a(href='./img/thuvien/1.jpg')
								.library-image
									img(src='./img/thuvien/1.jpg')
							a(href='./img/thuvien/2.jpg')
								.library-image
									img(src='./img/thuvien/2.jpg')