.sidebar-navigation
	h2 Chức năng
	ul.product-list
		li
			a(href='#')
				em.mdi.mdi-menu-right
				| Máy bơm công nghiệp Wilo
			ul
				li.active
					a(href='#')
						em.mdi.mdi-menu-right
						| Danh sách sản phẩm 1
					ul
						li
							a(href='#') Social media
						li
							a(href='#') Security
						li
							a(href='#') Project
						li
							a(href='#') Hardware
						
				li
					a(href='#')
						em.mdi.mdi-menu-right
						| Danh sách sản phẩm 2
					ul
						li
							a(href='#') Social media
						li
							a(href='#') Security
						li
							a(href='#') Project
						li
							a(href='#') Hardware
						
				li
					a(href='#')
						em.mdi.mdi-menu-right
						| Danh sách sản phẩm 3
					ul
						li
							a(href='#') Social media
						li
							a(href='#') Security
						li
							a(href='#') Project
						li
							a(href='#') Hardware
					
		li
			a(href='#')
				em.mdi.mdi-menu-right
				| Máy bơm chìm Wilo 
			
			ul
				li
					a(href='#')
						em.mdi.mdi-menu-right
						| Danh sách sản phẩm 
					ul
						li
							a(href='#') Social media
						li
							a(href='#') Security
						li
							a(href='#') Project
						li
							a(href='#') Hardware
						
				
				li
					a(href='#')
						em.mdi.mdi-menu-right
						| Danh sách sản phẩm 1
					ul
						li
							a(href='#') Social media
						li
							a(href='#') Security
						li
							a(href='#') Project
						li
							a(href='#') Hardware
						
		li
			a(href='#')
				em.mdi.mdi-menu-right
				| Máy bơm tăng áp Wilo
			ul
				li
					a(href='#')
						em.mdi.mdi-menu-right
						| Danh sách sản phẩm 2
					ul
						li
							a(href='#') Social media
						li
							a(href='#') Security
						li
							a(href='#') Project
						li
							a(href='#') Hardware
						
				li
					a(href='#')
						em.mdi.mdi-menu-right
						| Danh sách sản phẩm 3
					ul
						li
							a(href='#') Social media
						li
							a(href='#') Security
						li
							a(href='#') Project
						li
							a(href='#') Hardware
						
				li
					a(href='#')
						em.mdi.mdi-menu-right
						| Danh sách sản phẩm 1
					ul
						li
							a(href='#') Social media
						li
							a(href='#') Security
						li
							a(href='#') Project
						li
							a(href='#') Hardware
section.sidebar-product-navigation
	h2 Ứng dụng
	ul.product-filter-wrapper
		li.active
			span.filter-title
				em.mdi.mdi-menu-right
				| Nông nghiệp
			.filter-item-wrapper
				a(href="javascript:void(0)").checkbox Lorem 
				a(href="javascript:void(0)").checkbox Lorem 
				a(href="javascript:void(0)").checkbox Lorem 
				a(href="javascript:void(0)").checkbox Lorem 

		li
			span.filter-title
				em.mdi.mdi-menu-right
				| Nhà cao tầng
			.filter-item-wrapper
				a(href="javascript:void(0)").radio Lorem 
				a(href="javascript:void(0)").radio Lorem 
				a(href="javascript:void(0)").radio Lorem 
				a(href="javascript:void(0)").radio Lorem 
		li
			span.filter-title
				em.mdi.mdi-menu-right
				| Resort
			.filter-item-wrapper
				a(href="javascript:void(0)").color
				a(href="javascript:void(0)").color
				a(href="javascript:void(0)").color
				a(href="javascript:void(0)").color
		li.active
			span.filter-title
				em.mdi.mdi-menu-right
				| Chung cư
			.filter-item-wrapper
				a(href="javascript:void(0)").checkbox Lorem 
				a(href="javascript:void(0)").checkbox Lorem 
				a(href="javascript:void(0)").checkbox Lorem 
				a(href="javascript:void(0)").checkbox Lorem 

		li
			span.filter-title
				em.mdi.mdi-menu-right
				| Công nghiệp
			.filter-item-wrapper
				a(href="javascript:void(0)").radio Lorem 
				a(href="javascript:void(0)").radio Lorem 
				a(href="javascript:void(0)").radio Lorem 
				a(href="javascript:void(0)").radio Lorem 
		li
			span.filter-title
				em.mdi.mdi-menu-right
				| Khu chế xuất
			.filter-item-wrapper
				a(href="javascript:void(0)").radio Lorem 
				a(href="javascript:void(0)").radio Lorem 
				a(href="javascript:void(0)").radio Lorem 
				a(href="javascript:void(0)").radio Lorem 

			