section.thong-tin-san-pham
	.row
		.col-lg-7
			.swiper-product-top
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.banner
								img(src="./img/sanpham-ct/1.png", alt="Khóa điện tử")
						.swiper-slide
							.banner
								img(src="./img/sanpham-ct/1.png", alt="Khóa điện tử")
						.swiper-slide
							.banner
								img(src="./img/sanpham-ct/1.png", alt="Khóa điện tử")
						.swiper-slide
							.banner
								img(src="./img/sanpham-ct/1.png", alt="Khóa điện tử")
			.swiper-product-thumbs
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.banner
								img(src="./img/sanpham-ct/1-1.png", alt="Khóa điện tử")
						.swiper-slide
							.banner
								img(src="./img/sanpham-ct/1-1.png", alt="Khóa điện tử")
						.swiper-slide
							.banner
								img(src="./img/sanpham-ct/1-1.png", alt="Khóa điện tử")
						.swiper-slide
							.banner
								img(src="./img/sanpham-ct/1-1.png", alt="Khóa điện tử")
						
		.col-lg-5
			article
				h2 WSD Stainless Steel Submersible Sewage Pump
				p.title Performance Range
				p.caption Max. Flow: 22m3/h  
				p.caption Max. Head: 10
				p.title Application Limits
				ul
					li
						p Maximum liquid temperature +40
					li
						p pH level from 4-10 
					li
						p  Passage of suspended solids up to 50mm 
					li 
						p Power frequency is 50Hz. Voltage fluctuation range ±10%
				.file-attach
					em.far.fa-file-pdf
					a(href="#") Wilo-statos pico.pdf
				.contact-button
					a(href="#") 
						em.mdi.mdi-email
						| Liên hệ
	.row
		.col
			article
				p.title Certificate
				.certificate-image
					img(src="./img/sanpham-ct/2.png", alt="")
					img(src="./img/sanpham-ct/2.png", alt="")
				p
					strong Applications Fields
				p.caption With small size and light weight, the WSD(50Hz) series pump is especially suitable for the rural wells water pumping, farmland irrigation and drainage, garden watering, water spraying and family households, as well as other applications such as industrial, construction, aquaculture, fish ponds, etc.
				p.title Features
				ul
					li
						p
							span External components of SS304 material which is corrosion-resistant.
					li
						p Whirlpool impeller with larger passage of suspended solid.
					li
						p Automatic operation for the floating switch.
				p.title Performance Curve
				.chart-image
					img(src="./img/sanpham-ct/chart.png", alt="").medium-zoom#cover-1
					img(src="./img/sanpham-ct/chart.png", alt="").medium-zoom