<?xml version="1.0" encoding="utf-8" ?>
<templates>
	<newstype name="Tin tức" value="0"></newstype>
	<!--<showoption name="Icon new" value="1"></showoption>-->

	<templatelist xsltname="VD-Tin-tuc.xslt" name="Danh sách tin tức"></templatelist>
	<templatelist xsltname="VD-Thu-Vien.xslt" name="Thư viện"></templatelist>
	<templatelist xsltname="VD-Tai-Lieu.xslt" name="Tài liệu"></templatelist>
	<templatelist xsltname="VD-FAQs.xslt" name="Hỏi đáp"></templatelist>
	<templatelist xsltname="VD-Home-Bai-Viet.xslt" name="Tin tức"></templatelist>


	<templatedetail xsltname="VD-Tin-tuc-CT.xslt" name="Tin tức chi tiết"></templatedetail>


	<position>
		<add name="Trang chủ" value="1" resourcefile="" />
	</position>
</templates>