section.gioi-thieu-article
	.container
		.row
			.col-lg-6
				article
					h3 Giới thiệu
					h5 Bơm việt Đức
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit fugiat fugit nam unde sint, repellendus eveniet iusto corrupti aliquam atque minima voluptas quae dicta aperiam labore exercitationem error distinctio facere.Lorem ipsum dolor sit amet consectetur, adipisicing elit. In illum, soluta ratione, magni facilis error necessitatibus inventore maiores fuga distinctio sapiente! Libero excepturi labore accusantium, maiores facere temporibus accusamus! Aperiam.Lorem ipsum dolor sit amet consectetur, adipisicing elit. In illum, soluta ratione, magni facilis error necessitatibus inventore maiores fuga distinctio sapiente! Libero excepturi labore accusantium, maiores facere temporibus accusamus! Aperiam.
					p Lorem ipsum dolor sit amet consectetur, adipisicing elit. In illum, soluta ratione, magni facilis error necessitatibus inventore maiores fuga distinctio sapiente! Libero excepturi labore accusantium, maiores facere temporibus accusamus! Aperiam.Lorem ipsum dolor sit amet consectetur, adipisicing elit. In illum, soluta ratione, magni facilis error necessitatibus inventore maiores fuga distinctio sapiente! Libero excepturi labore accusantium, maiores facere temporibus accusamus! Aperiam.
			.col-lg-6
				article
					img(src="./img/gioithieu/2.jpg", alt="")