section.tin-tuc-lower
	.container
		.row
			.col-sm-4
				.figure
					.figure-image.shine
						a(href="#")
							img(src="./img/home/5.jpg", alt="Muốn mua máy bơm dân dụng hiệu Wilo thì phải làm sao?")
					.figure-caption
						a(href="#")
							p.name-small Muốn mua máy bơm dân dụng hiệu Wilo thì phải làm sao?
							time
								em.mdi.mdi-clock-outline
								p 29/03/2019
							p.caption Máy bơm nước dân dụng thương hiệu Wilo nhập khẩu Hàn Quốc được đánh giá cao về chất lượng, độ bền so với các dòng máy bơm 
			.col-sm-4
				.figure
					.figure-image.shine
						a(href="#")
							img(src="./img/home/5.jpg", alt="Muốn mua máy bơm dân dụng hiệu Wilo thì phải làm sao?")
					.figure-caption
						a(href="#")
							p.name-small Muốn mua máy bơm dân dụng hiệu Wilo thì phải làm sao?
							time
								em.mdi.mdi-clock-outline
								p 29/03/2019
							p.caption Máy bơm nước dân dụng thương hiệu Wilo nhập khẩu Hàn Quốc được đánh giá cao về chất lượng, độ bền so với các dòng máy bơm 
			.col-sm-4
				.figure
					.figure-image.shine
						a(href="#")
							img(src="./img/home/5.jpg", alt="Muốn mua máy bơm dân dụng hiệu Wilo thì phải làm sao?")
					.figure-caption
						a(href="#")
							p.name-small Muốn mua máy bơm dân dụng hiệu Wilo thì phải làm sao?
							time
								em.mdi.mdi-clock-outline
								p 29/03/2019
							p.caption Máy bơm nước dân dụng thương hiệu Wilo nhập khẩu Hàn Quốc được đánh giá cao về chất lượng, độ bền so với các dòng máy bơm 