section.download-document
	.document-title
		h2 Download tài liệu
	.document-table-wrapper
		table
			thead
				tr
					th Tên tài liệu
					th ngày đăng
					th Tải về
			tbody
				tr
					td(data-title="Tên tài liệu")
						a(href="#") Wilo-Stratos PICO
					td(data-title="Ngày đăng") 23/02/2019
					td(data-title="Tải về")
						a(href="#")
							em.lnr.lnr-download
				tr
					td(data-title="Tên tài liệu")
						a(href="#") Wilo-Stratos PICO
					td(data-title="Ngày đăng") 23/02/2019
					td(data-title="Tải về")
						a(href="#")
							em.lnr.lnr-download
				tr
					td(data-title="Tên tài liệu")
						a(href="#") Wilo-Stratos PICO
					td(data-title="Ngày đăng") 23/02/2019
					td(data-title="Tải về")
						a(href="#")
							em.lnr.lnr-download
				tr
					td(data-title="Tên tài liệu")
						a(href="#") Wilo-Stratos PICO
					td(data-title="Ngày đăng") 23/02/2019
					td(data-title="Tải về")
						a(href="#")
							em.lnr.lnr-download