section.du-an-chi-tiet
	.container
		.row
			.col-lg-5
				article
					p.title Sài gon pearl
					p.blue Lĩnh vực xây dựng
					p Vươn mình kiêu hãnh bên sông Sài Gòn; hội đủ các yếu tố về vị trí đắc địa, trong một quy hoạch tổng thể hoàn chỉnh về chức năng và một môi trường phủ xanh toàn diện trong lành, Saigon Pearl là nơi lý tưởng bậc nhất để bạn tận hưởng cuộc sống.
					p Không chỉ mang đến một không gian sống an lành, tự tại, Saigon Pearl còn đáp ứng đầy đủ cho nhu cầu sống đẳng cấp bằng các tiện nghi và tiện ích đạt chuẩn 5 sao, xứng đáng để bạn tự hào về một “thiên đường có thật trên mặt đất”.
					p Toàn bộ các khối nhà được bố trí tránh xa các tuyến đường giao thông nhằm đảm bảo sự yên tĩnh và không khí trong lành cho cư dân. Bên cạnh đó, các khu vực tiện ích công cộng như: hồ bơi, công viên,... được quy hoạch cạnh sông Sài Gòn giúp cư dân vừa sử dụng các tiện ích, vừa chiêm ngưỡng vẻ đẹp yên bình và tận hưởng sự trong lành của sông Sài Gòn.
			.col-lg-7
				.project-detail-swiper
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.banner
									img(src="./img/duan/1.jpg", alt="")
							.swiper-slide
								.banner
									img(src="./img/duan/1.jpg", alt="")
							.swiper-slide
								.banner
									img(src="./img/duan/1.jpg", alt="")
							.swiper-slide
								.banner
									img(src="./img/duan/1.jpg", alt="")
							.swiper-slide
								.banner
									img(src="./img/duan/1.jpg", alt="")
						.swiper-button-prev.project-detail-prev
						.swiper-button-next.project-detail-next
