section.home-du-an
	.container
		.article-title
			h2 Dự án 
		.row
			.col-md-8
				.home-project
					.figure
						.figure-image.shine
							a(href="#")
								img(src="./img/home/4.jpg", alt="Sài gòn PEARL")
						.figure-caption
							a(href="#")
								p Lĩnh vực xây dựng
								p.name Sài gòn PEARL
			.col-md-4
				.home-project
					.figure
						.figure-image.shine
							a(href="#")
								img(src="./img/home/4.jpg", alt="Sunsine City")
						.figure-caption
							a(href="#")
								p lĩnh vực xây dựng
								p.name SUNRISE CITY
					.figure
						.figure-image.shine
							a(href="#")
								img(src="./img/home/4.jpg", alt="Sunsine City")
						.figure-caption
							a(href="#")
								p lĩnh vực Công nhiệp
								p.name KCX tân thuận
		.home-project-button
			a(href="#") Xem thêm
				em.mdi.mdi-arrow-right
