section.product-form
	.grey-title
		p Gửi yêu cầu
	.wrap-form
		.row
			.col-12
				.form-group
					input.form-control(type='text', aria-describedby='basic-addon3',placeholder='Họ tên')
					span.input-group-text
			.col-12
				.form-group
					input.form-control(type='text', aria-describedby='basic-addon3',placeholder='Email')
					span.input-group-text
			.col-12
				.form-group
					input.form-control(type='text', aria-describedby='basic-addon3',placeholder='Công ty')
					span.input-group-text
			.col-12
				.form-group
					input.form-control(type='text', aria-describedby='basic-addon3',placeholder='Số điện thoại')
					span.input-group-text
			.col-12
				.form-group
					textarea#inpputTextArea.form-control(rows='3',placeholder='Nội dung')
					span.input-group-text
			.col-12
				.form-group.frm-btnwrap
					.frm-btn
						.button-wrapper
							input(type="submit",value='Gửi Yêu Cầu')
							em.mdi.mdi-arrow-right