section.contact-form
	.contact-title
		p Quý khách vui lòng điền thông tin vào mẫu bên dưới và gửi những góp ý, thắc mắc cho 
			span Bơm Việt Đức 
			| chúng tôi sẽ phản hồi email của Quý Khách trong thời gian sớm nhất. 
	.wrap-form
		.row
			.form-group.col-12
				input.form-control(type='text',placeholder='Họ tên')
			.form-group.col-12
				input.form-control(type='text',placeholder='Email')
			.form-group.col-12
				input.form-control(type='text',placeholder='Công ty')
			.form-group.col-12
				input.form-control(type='text',placeholder='Số điện thoại')
			.form-group.col-12
				textarea#inpputTextArea.form-control(rows='3',placeholder='Nội dung')
		.frm-btnwrap
			.frm-btn
				
				