section.location-google-map
	.map-responsive
		iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.274390657937!2d106.69029695082314!3d10.790283992274414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528ccc7f909b1%3A0xe208f36b5f32273c!2zMzEgVGjhuqFjaCBUaOG7iyBUaGFuaCwgVMOibiDEkOG7i25oLCBRdeG6rW4gMSwgSOG7kyBDaMOtIE1pbmgsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1560409602990!5m2!1sen!2s', width='600', height='450', frameborder='0', style='border:0;', allowfullscreen='')
