section.gioi-thieu-linh-vuc
	.container
		.article-title
			h2 Lĩnh vực hoạt động
		.row
			.col-sm-4
				.figure
					.figure-image
						img(src="./img/gioithieu/3.jpg", alt="")
					.figure-caption
						p.title Sửa chửa 
						p.caption Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ex, eligendi expedita recusandae cum sed nisi autem 
			.col-sm-4
				.figure
					.figure-image
						img(src="./img/gioithieu/3.jpg", alt="")
					.figure-caption
						p.title Sửa chửa 
						p.caption Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ex, eligendi expedita recusandae cum sed nisi autem 
			.col-sm-4
				.figure
					.figure-image
						img(src="./img/gioithieu/3.jpg", alt="")
					.figure-caption
						p.title Sửa chửa 
						p.caption Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ex, eligendi expedita recusandae cum sed nisi autem 