section.support-information
	.document-title
		h2 Hỏi đáp
		ul.faq-dashboard
			li
				span.title Vì sao nên mua máy bơm ở Bơm Việt Đức ?


				.content
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut doloremque sunt vero totam dolores adipisci eligendi laborum. Consectetur ea laboriosam sunt corporis sint similique, deleniti molestiae aliquid provident, nostrum hic.
			li
				span.title Chính sách bảo hành ra sao ?
				
				.content
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut doloremque sunt vero totam dolores adipisci eligendi laborum. Consectetur ea laboriosam sunt corporis sint similique, deleniti molestiae aliquid provident, nostrum hic.
			li
				span.title Nguyên lý hoạt động của máy bơm ?
				
				.content
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut doloremque sunt vero totam dolores adipisci eligendi laborum. Consectetur ea laboriosam sunt corporis sint similique, deleniti molestiae aliquid provident, nostrum hic.
			li
				span.title  Mẫu máy bơm nào sử dụng bền.
				.content
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut doloremque sunt vero totam dolores adipisci eligendi laborum. Consectetur ea laboriosam sunt corporis sint similique, deleniti molestiae aliquid provident, nostrum hic.
			li
				span.title Mất điện có sử dụng máy bơm được không
				.content
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolorem minima porro voluptatum, fugit ut impedit ea natus quasi sunt placeat dicta deleniti repellat corrupti nulla quo mollitia qui iste?
			li
				span.title Vì sao nên mua máy bơm ở Bơm Việt Đức ?
				.content
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolorem minima porro voluptatum, fugit ut impedit ea natus quasi sunt placeat dicta deleniti repellat corrupti nulla quo mollitia qui iste?
			li
				span.title Chính sách bảo hành ra sao ?
				.content
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolorem minima porro voluptatum, fugit ut impedit ea natus quasi sunt placeat dicta deleniti repellat corrupti nulla quo mollitia qui iste?





			li
				span.title Nguyên lý hoạt động của máy bơm ?
				.content
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolorem minima porro voluptatum, fugit ut impedit ea natus quasi sunt placeat dicta deleniti repellat corrupti nulla quo mollitia qui iste?
			li
				span.title Mẫu máy bơm nào sử dụng bền.
				.content
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolorem minima porro voluptatum, fugit ut impedit ea natus quasi sunt placeat dicta deleniti repellat corrupti nulla quo mollitia qui iste?
			li
				span.title Mất điện có sử dụng máy bơm được khôngasd asd as
				.content
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolorem minima porro voluptatum, fugit ut impedit ea natus quasi sunt placeat dicta deleniti repellat corrupti nulla quo mollitia qui iste?



