section.san-pham-khac
	.container
		.other-product-wrapper
			.grey-title
				p Sản phẩm khác
			.other-product
				.row
					.col-6.col-md-2
						.figure
							.figure-image.shine
								a(href="#")
									img(src="./img/sanpham-ct/3.png", alt="")
							.figure-caption
								a(href="#")
									p Máy Willo-Statos
					.col-6.col-md-2
						.figure
							.figure-image.shine
								a(href="#")
									img(src="./img/sanpham-ct/3.png", alt="")
							.figure-caption
								a(href="#")
									p Máy Willo-Statos
					.col-6.col-md-2
						.figure
							.figure-image.shine
								a(href="#")
									img(src="./img/sanpham-ct/3.png", alt="")
							.figure-caption
								a(href="#")
									p Máy Willo-Statos
					.col-6.col-md-2
						.figure
							.figure-image.shine
								a(href="#")
									img(src="./img/sanpham-ct/3.png", alt="")
							.figure-caption
								a(href="#")
									p Máy Willo-Statos
					.col-6.col-md-2
						.figure
							.figure-image.shine
								a(href="#")
									img(src="./img/sanpham-ct/3.png", alt="")
							.figure-caption
								a(href="#")
									p Máy Willo-Statos
					.col-6.col-md-2
						.figure
							.figure-image.shine
								a(href="#")
									img(src="./img/sanpham-ct/3.png", alt="")
							.figure-caption
								a(href="#")
									p Máy Willo-Statos