section.san-pham-khac
	.other-product-wrapper
		.grey-title
			p Sản phẩm khác
		.other-product
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.figure
							.figure-image.shine
								a(href="#")
									img(src="./img/sanpham-ct/3.png", alt="")
							.figure-caption
								a(href="#")
									p Máy Willo-Statos
					.swiper-slide
						.figure
							.figure-image.shine
								a(href="#")
									img(src="./img/sanpham-ct/3.png", alt="")
							.figure-caption
								a(href="#")
									p Máy Willo-Statos
					.swiper-slide
						.figure
							.figure-image.shine
								a(href="#")
									img(src="./img/sanpham-ct/3.png", alt="")
							.figure-caption
								a(href="#")
									p Máy Willo-Statos
					.swiper-slide
						.figure
							.figure-image.shine
								a(href="#")
									img(src="./img/sanpham-ct/3.png", alt="")
							.figure-caption
								a(href="#")
									p Máy Willo-Statos
					.swiper-slide
						.figure
							.figure-image.shine
								a(href="#")
									img(src="./img/sanpham-ct/3.png", alt="")
							.figure-caption
								a(href="#")
									p Máy Willo-Statos
					.swiper-slide
						.figure
							.figure-image.shine
								a(href="#")
									img(src="./img/sanpham-ct/3.png", alt="")
							.figure-caption
								a(href="#")
									p Máy Willo-Statos
					.swiper-slide
						.figure
							.figure-image.shine
								a(href="#")
									img(src="./img/sanpham-ct/3.png", alt="")
							.figure-caption
								a(href="#")
									p Máy Willo-Statos
					.swiper-slide
						.figure
							.figure-image.shine
								a(href="#")
									img(src="./img/sanpham-ct/3.png", alt="")
							.figure-caption
								a(href="#")
									p Máy Willo-Statos
