section.danh-sach-du-an
	.container
		.article-title
			h2 dự án đã triển khai
		.row.no-gutters
			.col-12.col-md-8
				.project-display-wrapper
					.figure
						.figure-image.shine
							a(href="#")
								img(src="./img/duan/1.jpg", alt="Sài gòn PEARL")
						.figure-caption
							a(href="#")
								p Sài gòn Pearl
								
			.col-12.col-md-4
				.project-display-wrapper
					.figure
						.figure-image.shine
							a(href="#")
								img(src="./img/duan/1.jpg", alt="Sunsine City")
						.figure-caption
							a(href="#")
								p Sunrise City
								
					.figure
						.figure-image.shine
							a(href="#")
								img(src="./img/duan/1.jpg", alt="Sunsine City")
						.figure-caption
							a(href="#")
								p Thảo điển Pearl
			.col-12.col-sm-4
				.project-display-wrapper
					.figure
						.figure-image.shine
							a(href="#")
								img(src="./img/duan/1.jpg", alt="Sunsine City")
						.figure-caption-under
							a(href="#")
								p Sunrise City
			.col-12.col-sm-4
				.project-display-wrapper
					.figure
						.figure-image.shine
							a(href="#")
								img(src="./img/duan/1.jpg", alt="Sunsine City")
						.figure-caption-under
							a(href="#")
								p Sunrise City
			.col-12.col-sm-4
				.project-display-wrapper
					.figure
						.figure-image.shine
							a(href="#")
								img(src="./img/duan/1.jpg", alt="Sunsine City")
						.figure-caption-under
							a(href="#")
								p Sunrise City